<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" content="text/html; charset=UTF-8">
    <title>Title</title>

    <script></script>
</head>
<body>
 <h1>login Form</h1>
<form action="loginOk" method="post">
    <ul>
        <li>
            <label for="userid">아이디 : </label>
            <input type="text" name="userid" id="userid" minlength="5" maxlength="15" placeholder="아이디를 입력해주세요"/>
        </li>
        <li>
            <label for="password">비밀번호 : </label>
            <input type="password" name="password" id="password" minlength="5" maxlength="15" placeholder="아이디를 입력해주세요"/>
        </li>
        <li></li>
        <li></li>
        <li></li>
    </ul>




</form>

</body>
</html>